#main-container{
    padding: 0 15px;
    margin-top: 10px;
}
.melogo p {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
}

.mesearch {
    padding-left: 284px;
    padding-right: 284px;
}

.mesearch .input-group {
    width: 585px;
}

.metip {
    padding-top: 20px;
    margin-bottom: 50px;
}

.metip p {
    text-align: center;
    font-size: 13px;
}

/* main-header */
.container-left{
    width: 49%;
    float: left;
}

.container-right{
    float: left;
    width: 49%;
    margin-left: 20px;
}
.main-header {
    width: 960px;
    margin: 0 auto;
}

.header-content{
    border: 1px solid #eee;
    padding: 10px 20px;
    margin-top:-1px;
}

.header-content:hover{
    background-color: #f5f8fa!important;
}

.content-info {
    padding: 10px 0;
}

.content-info > span {
    float: left;
}

.content-info img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content-info ul {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 15px;
}

.content-info ul li {
    margin: 0;
    padding: 0;
    height: 20px;
}

.content-info ul li:first-child {
}

.username {
    font-weight: bold;
    font-size: 18px;
}
.dynamic-time{
    color: rgb(145, 151, 163);
    font-size: 12px;
}
