.btn-flower-content {
    padding: 5px 10px 10px 10px;
    margin-bottom: 10px;
}

.btn-flower-left {
    display: inline-block;
}

.btn-flower-left h5 {
    font-weight: bold;
}

.btn-flower-right {
    float: right;
}

.btn-flower > span {
    margin-right: 5px;
}

.myavatar {
    border-radius: 7px;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
}

.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}

.avatar-wrapper {
    height: 364px;
    width: 100%;
    overflow: hidden;
}

.row-left {
    width: 25%;
    float: left;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.row-right {
    width: 73%;
    margin: 0 0 0 10px;
    float: left;
    border-radius: 8px 8px 0 0;
}

.person-info-header {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    border-bottom: none;
    padding: 8px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    position: relative;
}

.person-info-header2 {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    position: relative;
}

.person-info-setlist {

}

a.list-group-item:hover, a.list-group-item:focus {
    background-color: #fff;
    color: #0084B4;
}

.list-group-items {
    color: #0084B4 !important;
}

.list-group-item {
    font-size: 14px;
    padding: 5px 15px;
}

.list-group-item span {
    float: right;
    display: inline-block;
    font-size: 20px;
}

.setting-content {

}

.setting-header {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
}

.setting-header h4, .setting-header p {
    color: #0084B4;
}

.setting-detail {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.setting-detail label {
    font-size: 13px;
    color: #666;
}

.user-avatar-info {
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.user-avatar-info p {
    font-size: 13px;
    margin-top: 10px;
    color: #666;
}

.clearboth {
    clear: both;
}

.left {
    float: left;
}

.margintop {
    margin-top: 80px;
}

.form-control-width {
    width: 440px;
}

.setting-detail-tab {
    display: none;
}

.tabActive {
    display: block;
}

.mycol-1 {
    float: left;
    width: 20%;
}

.mycol-2 {
    float: left;
    width: 80%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.thumbnail, .img-thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
}

.userinfoname {
    font-size: 26px;
    font-weight: bold;
    padding-left: 10px;
}

.userinfonicename {
    font-size: 20px;
    color: #666;
    padding-left: 10px;
}

.userinfocontent {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.userinfocontent li {
    width: 100%;
    padding: 2px 0 2px 14px;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}

.userinfocontent .octicon {
    float: left;
    width: 16px;
    text-align: center;
    color: #999;
    margin-right: 5px;
}

.person-info-following {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.follow-list {
    list-style-type: none;
}

.follow-list li {
    float: left;
    width: 305px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #eee;
}

#myTab li a {
    font-size: 14px;
}

#myTab li a .badge {
    margin-left: 5px;
}

.media:first-child {
    margin-top: 15px;
}

.media {
    width: 310px;
    float: left;
    margin-bottom: 15px;
}

.media-body p span {
    font-size: 12px;
    color: #767676;
}

.media-body-btn a span {
    margin-right: 5px;
}

.pull-right a span {
    margin-right: 5px;
}
.websiteinfo{
    padding: 0 15px;
}
.websiteinfo a {
    float: left;
}

.media-left a img {
    border-radius: 6px;
}

.abc-badge{
    margin-left: 5px;
}