<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.awbeci.mapper.UserDynamicMapper">
    <resultMap id="UserDynamicResult" type="UserDynamic">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="objId" column="objId"/>
        <result property="objType" column="objType"/>
        <result property="action" column="action"/>
        <result property="content" column="content"/>
        <result property="createDt" column="createDt"/>
        <result property="updateDt" column="updateDt"/>
    </resultMap>

    <resultMap id="UserDynamicResultComplex" type="UserDynamic">
        <result property="uid" column="dynamic_user_id"/>
        <result property="objId" column="dynamic_userSites_id"/>
        <result property="objType" column="dynamic_userSites_type"/>
        <result property="action" column="dynamic_action"/>
        <result property="createDt" column="dynamic_createdt"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="name" column="user_name"/>
            <result property="avatarUrl" column="user_AVATARURL"/>
        </association>
        <association property="userSites" javaType="UserSites">
            <id property="id" column="userSites_id"/>
            <result property="name" column="userSites_name"/>
            <result property="url" column="userSites_url"/>
            <result property="icon" column="userSites_icon"/>
        </association>
    </resultMap>
</mapper>